# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

backend/storage/uploads/*
!backend/storage/uploads/.gitkeep

backend/storage/chroma/*